#contentContainer {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    margin: 20px;
    align-items: center;
}

#title {

    flex-wrap: wrap;
}


#gridContainer {
    display: flex;
    background-color:rgb(88, 88, 88);
    border: black;
    border-style: solid;
    border-radius: 2px;
    width: 900px;
    height: 900px;
    flex-wrap: wrap;
    
}

.grid {
    border-style: none;
    background-color: rgb(88, 88, 88)
}

#buttonContainer {
    display: flex;
    align-items: flex-end;
}

#pickColorContainer {
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
}

input {
    height: 25px;
    width: 125px;
    margin: 5px;
    margin-left: 25px;
    margin-right: 25px
}

#resize, #clear, #randomColor {
    height: 25px;
    width: 125px;
    margin: 10px;
}